body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
    color: #222;
}

header {
    text-align: center;
    padding: 30px;

    background-image: url("copy_6D8699FD-2E4E-4C5C-82E7-297C7E95AC44.gif");
    background-size: cover;
    background-position: center;

    position: sticky;
    top: 0;
    z-index: 1000;

    color: white;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.level {
    display: flex;
    align-items: center;

    background: white;
    margin-bottom: 10px;
    padding: 15px;

    border-radius: 8px;
}

.rank {
    font-size: 24px;
    font-weight: bold;
    width: 60px;
}

.level-info {
    flex: 1;
    text-align: left;

    
}

.level-name {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.creator {
    color: #666;
    margin-top: 4px;

    
    
}

.points {
    font-weight: bold;

    margin-left: 20px;
    margin-right: 30px;

    flex-shrink: 0;
}

.verifier {
    color: #666;

    flex-shrink: 0;

    

    min-width: 180px;
}

/*text-decoration should set to 0 removes underline in link*/
.level-link {
    display: flex;
    align-items: center;

    width: 100%;
    min-width: 0;

    color: inherit;
    text-decoration: none;
}

.back-button {
    position: fixed;

    top: 20px;
    left: 20px;

    padding: 10px 15px;

    background: #222;
    color: white;

    text-decoration: none;

    border-radius: 6px;
    z-index: 1100;
}

/* Main level information card */
.level-page {
    max-width: 700px;
    margin: 100px auto 30px;
    padding: 30px;

    background: white;

    border-radius: 10px;
}

/* Level page title */
header h1 {
    margin-bottom: 5px;
}

/* Level ranking */
.level-rank {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Level points */
.level-points {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Level verifier */
.level-verifier {
    margin-bottom: 15px;
}

/* Geometry Dash level ID */
.level-id {
    color: #666;
}

/* Level page subtitle */
header p {
    margin-top: 0;
}

/* Copy level ID button */
#copy-id-button {
    margin-left: 10px;

    padding: 5px 10px;

    border: none;
    border-radius: 5px;

    background: #222;
    color: white;

    cursor: pointer;
}

.player {
    display: flex;
    align-items: center;

    background: white;

    margin-bottom: 10px;
    padding: 15px;

    border-radius: 8px;
    text-decoration: none;
}

.player-name {
    flex: 1;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.player-points {
    font-weight: bold;
    text-decoration: none;
}

.small-tab {
   margin-left: 10px;

    padding: 5px 10px;

    border: none;
    border-radius: 5px;

    background: #222;
    color: white;

    

    text-decoration: none;
    
    cursor: pointer;
}

.player-rank {
    width: 60px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.player-link {
    display: flex;
    align-items: center;

    width: 100%;

    color: inherit;
    text-decoration: none;
}


#completed-levels {
    margin-top: 20px;
}

.player-tag {
    display: inline-block;

    margin-left: 6px;
    padding: 3px 7px;

    border: 2px solid transparent;
    border-radius: 8px;

    font-size: calc(1em - 8px);
    font-weight: bold;

    

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, currentColor, currentColor) border-box;
}

.victor {
    display: flex;
    align-items: center;

    margin-bottom: 8px;
}

.victor-rank {
    width: 40px;
    font-weight: bold;
}

.victor a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.victor a:hover {
    text-decoration: underline;
}

.level-thumbnail {
    width: 120px;
    height: 68px;

    object-fit: cover;

    border-radius: 6px;

    margin-right: 15px;

    flex-shrink: 0;
}

.level-thumbnail-large {
    display: block;

    max-width: 100%;
    width: 600px;
    height: auto;

    margin: 0 auto 25px;

    border-radius: 8px;
}

.completed-level {
    display: flex;
    align-items: center;

    background: white;

    margin-bottom: 10px;
    padding: 15px;

    border-radius: 8px;
}

.completed-level-link {
    display: flex;
    align-items: center;

    flex: 1;

    color: inherit;
    text-decoration: none;
}

.completion-button {
    display: inline-block;

    margin-left: 15px;
    padding: 8px 12px;

    background: #222;
    color: white;

    border-radius: 6px;

    text-decoration: none;

    font-weight: bold;
    
}

.completion-button:hover {
    background: #444;
}

.live-completion {
    background: #666;
    cursor: default;
}

.creator-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    
    display: inline-block;
}

.creator-link:hover {
    text-decoration: underline;
}

.verifier-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

.verifier-link:hover {
    text-decoration: underline;

}   
    
